@charset "UTF-8";

/* Customized CSS*/

.entryPage {
  background-image: url(../img/code.gif);
  height: 100%;
}

#entryPage-contents {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-top: 200px;
}

#entryPage-hello {
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.entryPage-footer {
  right: 0;
  bottom: 0;
  width: 25%;
  color: white;
  opacity: 0.1;
  white-space: nowrap;
  display: flex;
  justify-content: center;
}

.entryPage-footer:hover {
  opacity: 0.6;
}

.entryPage-logo {
  opacity: 0.1;
}

.entryPage-logo:hover {
  opacity: 0.6;
}

/* entryPage finished, bigData start*/

#bigDataMissionContainer {
  margin-top: 0px;
}

#webtoon1 {
  margin-top: -200px;
}

#webtoon2 {
}

#webtoon3 {
  margin-left: -150px;
  margin-top: 30px;
}

#webtoon4 {
  margin-top: 40px;
  margin-right: -150px;
}

.question-mark__hint-alert {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: chocolate;
}

.modalContents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#bigDataMission-modal-btn {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#bigDataMission-tutorial-dropdown {
  text-align: center;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
}

a.token_naverEncyLink {
  display: inline;
}

.bigDataMission-footer {
  bottom: 20px;
  position: fixed;
  width: 50%;
  color: darksalmon;
  opacity: 0.1;
  white-space: nowrap;
}

.bigDataMission-footer:hover {
  opacity: 0.6;
}

/* missionCard1 */

.mission-complete {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes spinCard {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
    transform: rotateY(1turn);
  }
}

.missionCard {
  animation: spinCard 3s ease-in-out 1;
}

.animate__animated.animate__wobble {
  animation-delay: 2.8s;
}

/*smartSensor Mission */

.smartSensorMission1-body {
  /* background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text; */
}

#carouselExampleFade {
  margin: 30px 30px;
  padding: 100px 100px;
}

.smarSensorMission1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
}

#myCarousel {
  margin: 80px 50px 30px 50px;
}

.smartSensorMission1-btn {
  display: flex;
  justify-content: center;
  margin: 20px 0px;
  font-size: medium;
}

#smartSensorMission1-button {
  color: ;
}

.smartSensorMission1-body {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(0, 0, 0, 0.7) 75%,
    #000000 100%
  );
}

.hologramMission1-body {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(0, 0, 0, 0.7) 75%,
    #000000 100%
  );
}

#hologramMission1-container {
  /* background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(0, 0, 0, 0.7) 75%,
    #000000 100%
  ); */
}

/*finalSumUp page*/
.finalSumUp-body {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(0, 0, 0, 0.7) 75%,
    #000000 100%
  );
}

.missionInterviews {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.missionInterview {
  width: 80%;
  height: auto;
  border-radius: 30px;
  margin-top: 30px;
}

.missionCardCollectionLink {
  margin: 50px 50px;
}

.missionCardLinks {
  display: flex;
  justify-content: center;
}

.missionCardLink {
  size: 100px;
  animation: spinCard 6s ease-in-out infinite;
  cursor: pointer;
  border-radius: 30px;
  padding: 10px;
}

#cardListsNoticeText {
  text-align: center;
  padding: 20px;
}

.mission-complete__button {
  margin-top: 20px;
  margin-bottom: 10px;
}

.missionComplete__buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.finalSumUp-body {
  margin-top: 100px;
}

#finalSumUp-interviewTitle {
  font-family: "Nanum Pen Script", cursive;
  padding-bottom: 0px;
  color: blanchedalmond;
  font-size: 40px;
}
.finalSumUp-tail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
